@model List<ParserViewModel>

               <div class="row">
                   @if (Model == null)
                   {
                       <h2 class="text-danger">Không có dữ liệu</h2>
                   }
                   else
                   {
                       <div class="">
                           <div class="panel panel-primary">
                               <div class="panel-heading">
                                   <h2>Bước 1: Parser dữ liệu</h2>
                               </div>
                               <div class="panel-body">

                                   @{
                                   int color = 1;

                                   }
                                   @foreach (var item in Model)
                               {
                                   if (color == 1)
                                   {
                                       ViewData["color"] = "bg-success";
                                       color = 2;
                                   }
                                   else
                                   {
                                       color = 1;
                                       ViewData["color"] = "";
                                   }
                                   <br /><hr />
                                   <div class="single-parser @ViewData["color"]" style="padding: 20px;">
                                       <h1>@Html.DisplayFor(modelItem => item.Title)</h1>
                                       <p>@Html.DisplayFor(modelItem => item.Link)</p>
                                       <p>@Html.DisplayFor(modelItem => item.Content)</p>

                                       @for (int h2 = 0; h2 < ParserViewModel.MAX_H2_LENGTH; h2++)
                                       {
                                           for (int h3 = 0; h3 < ParserViewModel.MAX_H3_LENGTH; h3++)
                                           {

                                               for (int h4 = 0; h4 < ParserViewModel.MAX_H4_LENGTH; h4++)
                                               {


                                                   for (int text = 0; text < ParserViewModel.MAX_TEXT_LENGTH; text++)
                                                   {
                                                       try
                                                       {
                                                           if (!String.IsNullOrEmpty(item.Content[h2, h3, h4, text]))
                                                           {

                                                               <p>@item.Content[h2, h3, h4, text]</p>
                                                           }
                                                       }
                                                       catch { }

                                                   }
                                               }
                                           }
                                       }
                            
                                   </div>
                                   <br /><hr />
                               }
                               </div>
                           </div>
                       </div>
                      
                   }
               </div>